body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: grid;
  justify-items: center; /*Centralizar todo o sistema de grid do site.*/
  gap: 3.75rem;
  margin-top: 3.75rem;
  background: #f7f7f7;
}

img {
  max-width: 100%; /*Configurações básicas para uma imagem*/
  display: block;
}

a {
  text-decoration: none;
}

header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  justify-items: center;
}

.logo {
  grid-row: 1;
  margin: 0;
  padding: 0;
  margin-bottom: 4rem;
}

header > nav > ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin: 0;
  padding: 0;
}

nav ul a {
  display: block;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

.menu a {
  background-color: white;
  padding: 0.93rem 1.87rem;
  border-radius: 0.25rem;
  color: black;
  text-transform: uppercase;
  font-size: larger;
}

.menu a:hover {
  background-color: #ee2211;
}

.container {
  /*Sistema de grid do main do site.*/
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 62.5rem; /*Tamanho máximo que o main pode se expandir.*/
}

.introduction {
  background: white;
  padding: 2.5rem;
  text-align: right;
  position: relative; /*Permite que o detalhe de desing fique alinhado a div de introdução.*/
  display: grid;
  align-content: center; /*Alinhamento vertical do conteúdo.*/
  gap: 1.25rem;
  justify-items: end; /*Diminui o tamanho da div do ver mais, para que ela fique somente do tamanho do conteúdo.*/
}

.introduction::after {
  content: "";
  width: 3.75rem;
  height: 0.25rem;
  background-color: #ee2211;
  position: absolute;
  top: 1.87rem;
  right: -1.87rem;
}

.button {
  background: #ee2211;
  color: white;
  padding: 0.93rem 1.87rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
}

.button:hover {
  background-color: #900;
}

main section {
  display: flex;
}

article h1 {
  font-size: 2rem;
}

.subtitle {
  font-size: 4rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  text-align: right;
  padding: 2.5rem;
  align-self: center;
  background-image: url(./img/onda.svg);
  align-self: center;
}

.benefits {
  background: white;
  padding: 2.5rem;
}

.benefits-item {
  display: grid;
  grid-template-columns: auto 1fr; /*Esse auto é para que a primeira coluna (ícone svg) seja do tamanho que ele têm, e a divnão se expanda.*/
  gap: 0.625rem 1.25rem;
  padding: 1.25rem;
}

.benefits-item p {
  grid-column: 2;
}

.benefits-item:nth-child(odd) {
  background-color: #f7f7f7;
}

.benefits-item:nth-child(odd):hover {
  border-left: 0.25rem solid #ee2211;
}

footer {
  background-color: white;
  width: 100%;
  text-align: center;
  padding: 2.5rem;
  box-sizing: border-box;
}
